#!/usr/bin/make -f

CFLAGS  += -g3

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -fomit-frame-pointer
endif

%:
	dh $@

override_dh_auto_configure:
	phpize5
	dh_auto_configure -- \
		--enable-backtrace=shared

override_dh_auto_build:
	dh_auto_build
	sed "s#@EXTDIR@#`php-config5 --extension-dir`#" debian/backtrace.ini.in > debian/backtrace.ini

override_dh_auto_clean:
	dh_auto_clean
	phpize5 --clean
	-rm -rf debian/backtrace.ini tmp-php.ini

override_dh_auto_install:
	$(MAKE) install INSTALL_ROOT=debian/php5-backtrace

override_dh_strip:
	dh_strip -s --dbg-package=php5-backtrace-dbg

override_dh_gencontrol:
	echo "php:Depends=phpapi-`php-config5 --phpapi`" >> debian/php5-backtrace.substvars
	dh_gencontrol
